* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

html {
  background-color: #f4efeb;
}

.navBar {
  justify-content: space-between;
}

.navBar li {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style: none;
  font-size: 0.9em;
}

.navBar li:hover {
  background-color: whitesmoke;
  color: black;
}

.borderRight {
  border-right: 1px solid #4d4d59;
}

.textLogo {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  text-transform: uppercase;
}

.bgWhite {
  background-color: white;
}

.bgGray {
  background-color: #4e4d55;
}

.bgBlack {
  background-color: #000;
  color: #fff;
}

.horizontalSpacer {
  margin-left: auto;
}

.noHover {
  pointer-events: none;
}

.tag {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
}

.separatorHorizontal::after {
  content: '';
  position: absolute;
  background: #dbdbdb;
  width: 96%;
  height: 1px;
  bottom: 0;
  left: 2%;
}

.separatorVertical::after {
  content: '';
  position: absolute;
  background: #dbdbdb;
  width: 1px;
  height: 96%;
  right: 0;
  top: 2%;
}

.mainLogo {
  text-align: center;
  text-transform: uppercase;
}

.mainLogo img {
  width: 45%;
  margin: 0.5em auto;
}

.mainLogo figcaption {
  font-size: 0.8em;
  font-weight: 600;
  margin: 0.5em auto;
}

.mainContainer {
  margin: auto;
  width: 90%;
  max-width: 1024px;
  min-width: 800px;
}

.flexContainer {
  display: flex;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  font-weight: 600;
}

.banner img {
  object-fit: contain;
  position: absolute;
  right: 0px;
  max-height: 100%;
}

.banner:nth-child(-n + 2) {
  flex: 33.35%;
  max-width: 33.35%;
}

.banner:nth-child(-n + 2) .bannerText {
  font-size: 0.9em;
  max-width: 45%;
}

.banner:nth-child(1) {
  background-color: #f4981d;
}

.banner:nth-child(2) {
  background-color: #ab85aa;
}

.banner:nth-child(3) {
  flex: 16.65%;
  max-width: 16.65%;
  background-color: #029a9d;
}

.banner:nth-child(4) {
  flex: 16.65%;
  max-width: 16.65%;
  background-color: #e06716;
}

.banner h2 {
  color: #fff;
  font-size: 1.1em;
}

.banner article {
  padding: 0.8em 0.5em;
}

.banner footer {
  margin: 0 auto 0 auto;
  padding: 0.3em 0.5em;
  width: 94%;
  color: #fff;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 1px solid #fff;
}

.firstRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.firstRow footer {
  color: #844c3d;
  font-size: 0.7rem;
  padding: 2em 0;
}

.firstRow h3 {
  color: #606060;
  padding: 0.3em 0;
  font-size: 1.5em;
}

.firstRowItem {
  padding: 0 0.5em;
  position: relative;
}

.frontRowImage {
  max-width: 100%;
}

.firstRowItem:nth-child(1) {
  flex: 43%;
  max-width: 43%;
}

.firstRowItem:nth-child(1) h2 {
  font-size: 2.5em;
  font-weight: 800;
  padding-bottom: 0.2em;
}
.firstRowItem:nth-child(2) {
  flex: 14%;
  max-width: 14%;
}
.firstRowItem:nth-child(3) {
  flex: 43%;
  max-width: 43%;
}

.firstRowItem:nth-child(3) h2 {
  font-size: 2.5em;
  font-weight: bolder;
  padding-bottom: 0.2em;
}

.firstRowDouble {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstRowDoubleItem {
  padding: 0 0.5em;
  position: relative;
}

.secondRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondRow footer {
  color: #844c3d;
  font-size: 0.7rem;
  padding: 2em 0;
}

.secondRowItem {
  flex: 25%;
  max-width: 25%;
  padding: 0.6em;
  position: relative;
  border-bottom: 1px solid #dbdbdb;
}

.secondRowItem img {
  max-width: 100%;
  max-height: 100%;
}

.moreButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.moreButtonItem {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  padding: 1em 6em;
}

.moreButtonItem:hover {
  color: darkred;
  border-color: darkred;
}

.mainFooter {
  color: #d0d5d8;
  padding-top: 2em;
}

.finePrint {
  border-top: 1px solid white;
  padding-top: 1em;
  text-align: center;
}
