/* -----------------------------------------------------------------------------
Colors
------------------------------------------------------------------------------*/
:root {
  --mainBgColor: #f4efeb;
  --backgroundDarkGray: #4e4d55;
  --separatorColor: #dbdbdb;
  --bannerColor1: #f4981d;
  --bannerColor2: #ab85aa;
  --bannerColor3: #029a9d;
  --bannerColor4: #e06716;
  --readFullColor: #844c3d;
}

/* -----------------------------------------------------------------------------
Global styles
------------------------------------------------------------------------------*/
html {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  background-color: var(--mainBgColor);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.borderRight {
  border-right: 1px solid var(--backgroundDarkGray);
}

.bgWhite {
  background-color: white;
}

.bgGray {
  background-color: var(--backgroundDarkGray);
}

.bgBlack {
  background-color: black;
  color: white;
}

.horizontalSpacer {
  margin-left: auto;
}

.noHover {
  pointer-events: none;
}

.tag {
  color: darkslategray;
  font-size: .8em;
}

.separatorHorizontal::after {
  content: '';
  position: absolute;
  background: var(--separatorColor);
  width: 96%;
  height: 1px;
  bottom: 0;
  left: 2%;
}

.separatorVertical::after {
  content: '';
  position: absolute;
  background: var(--separatorColor);
  width: 1px;
  height: 96%;
  right: 0;
  top: 2%;
}

.mainContainer {
  width: 1024px;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.mAuto {
  margin: auto;
}

/* -----------------------------------------------------------------------------
navBar
------------------------------------------------------------------------------*/
.navBar {
  justify-content: space-between;
}

.navBar li {
  align-items: center;
  padding: 10px;
  list-style: none;
  font-size: .9em;
}

.navBar li:hover {
  background-color: whitesmoke;
  color: black;
}

.textLogo {
  font-size: 1.4em;
}

.mainLogo {
  text-align: center;
}

.mainLogo img {
  width: 50%;
  margin: .5em auto;
}

.mainLogo figcaption {
  font-size: .8em;
  margin: .5em auto;
}

/* -----------------------------------------------------------------------------
Banner
------------------------------------------------------------------------------*/
.banner {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.banner img {
  position: absolute;
  right: 0;
}

.banner:nth-child(-n + 2) {
  flex: 33.35%;
  max-width: 33.35%;
}

.banner:nth-child(-n + 2) .bannerText {
  font-size: .9em;
  max-width: 45%;
}

.banner:nth-child(1) {
  background-color: var(--bannerColor1);
}

.banner:nth-child(2) {
  background-color: var(--bannerColor2);
}

.banner:nth-child(3) {
  flex: 16.65%;
  max-width: 16.65%;
  background-color: var(--bannerColor3);
}

.banner:nth-child(4) {
  flex: 16.65%;
  max-width: 16.65%;
  background-color: var(--bannerColor4);
}

.banner h2 {
  color: white;
  font-size: 1.1em;
}

.banner article {
  padding: .8em .5em;
}

.banner footer {
  margin: 0 auto;
  padding: .3em .5em;
  width: 94%;
  color: white;
  font-size: .8em;
  border-top: 1px solid white;
}

/* -----------------------------------------------------------------------------
firstRow
------------------------------------------------------------------------------*/
.firstRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.firstRow footer {
  color: var(--readFullColor);
  font-size: .7rem;
  padding: 2em 0;
}

.firstRow h3 {
  color: dimgray;
  padding: .3em 0;
  font-size: 1.5em;
}

.firstRowItem {
  padding: 0 .5em;
  position: relative;
}

.frontRowImage {
  max-width: 100%;
}

.firstRowItem:nth-child(1) {
  flex: 43%;
  max-width: 43%;
}

.firstRowItem:nth-child(1) h2 {
  font-size: 2.5em;
  padding-bottom: .2em;
}

.firstRowItem:nth-child(2) {
  flex: 14%;
  max-width: 14%;
}

.firstRowItem:nth-child(3) {
  flex: 43%;
  max-width: 43%;
}

.firstRowItem:nth-child(3) h2 {
  font-size: 2.5em;
  padding-bottom: .2em;
}

.firstRowDouble {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstRowDoubleItem {
  padding: 0 .5em;
  position: relative;
}

/* -----------------------------------------------------------------------------
secondRow
------------------------------------------------------------------------------*/
.secondRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.secondRow footer {
  color: var(--readFullColor);
  font-size: .7rem;
  padding: 2em 0;
}

.secondRowItem {
  flex: 25%;
  max-width: 25%;
  padding: .6em;
  position: relative;
  border-bottom: 1px solid var(--separatorColor);
}

/* -----------------------------------------------------------------------------
moreButton
------------------------------------------------------------------------------*/
.moreButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.moreButtonItem {
  font-size: .8em;
  padding: 1em 6em;
}

.moreButtonItem:hover {
  color: var(--readFullColor);
  border-color: var(--readFullColor);
}

/* -----------------------------------------------------------------------------
mainFooter
------------------------------------------------------------------------------*/
.mainFooter {
  color: silver;
  padding-top: 2em;
}

.finePrint {
  border-top: 1px solid white;
  padding-top: 1em;
  text-align: center;
}